<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Message Board</title>
    </head>
    <body>
        <header>Message Board</header>
        <main>
            <% messages.forEach((message) => { %>
                <div>
                    <p class="user"><%= message.user %></p>
                    <span class="message"><%= message.text %></span>
                    <span class="date"><%= message.added %></span>
                </div>
            <% }) %>
        </main>
    </body>
</html>