<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Message Board</title>
    </head>
    <body>
        <header>Message Board</header>
        <main>
            <% messages.forEach((message) => { %>
                <div>
                    <p class="user">Username: <%= message.username %></p>
                    <p class="message">Message: <%= message.message %></p>
                    <p class="date">Time: <%= message.timestamp %></p>
                </div>
            <% }) %>
        </main>
    </body>
</html>